table {
  width: 100%;
}
mat-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actions h2{
  text-align: center;
}
.actions button{
  margin-left: 0.9rem;
}
.info a{
  text-decoration: none;
}
.hora , .via {
  display: flex;
}
.info p{
  padding-left: 0.5rem;
}
.container{
  margin: 1rem 2rem;
}




